#landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--fighting) url("../../images/pokeball-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
}

#landing > .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(12px + 1vh + 1vw);
    padding:  0 0 calc(32px + 1vh + 1vw) 0;
}
#landing h1{
    font-size: calc(22px + 1vh + 1vw);
    font-weight: 500;
    color: var(--white);
}

#landing .search-box {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--white);
    padding: calc(12px + .2rem) calc(24px + .2rem);
    border-radius: 20rem;
    width: 100%;
    gap: calc(12px + .1rem);
} 

#landing .search-box input{
    border: none;
    outline: none;
    width: 100%;
    align-items: center;
}