#pokemon-list{
    display: flex;
    justify-content: center;
}

#pokemon-list .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: calc(24px + .1rem) 0;
    gap: calc(12px + .1rem);
}

#pokemon-list .card{
    padding: calc(12px + .1rem) calc(24px + .1rem) ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: calc(24px + .1rem);

    background: url("../../images/pokeball-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
}

#pokemon-list .card:hover{
    box-shadow: 0px 2px 24px rgba(16, 42, 189, 0.2), 0px 1px 12px rgba(16, 42, 189, 0.3);
} 

#pokemon-list .card h5{
    color: var(--white);
    font-size: calc(18px + .1rem);
    text-transform: capitalize;
    align-self: center;
}

#pokemon-list .card h4{
    color: #222;
    opacity: .2;
    text-align: end;
    font-weight: 700;
    font-size: calc(32px + .1rem);
}

#pokemon-list .card .type{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 0 0;
    border-radius: 100rem;
    padding: calc(2px + .1rem) calc(12px + .1rem);

    background-color: rgba(255, 255, 255, 0.3);
    color: var(--white);
    text-transform: uppercase;
    font-size: calc(12px + .1rem);
}

#pokemon-list .card img{
    height: calc(72px + 1vw + 1vh);
    justify-self: flex-end;
}

@media (min-width: 768px) {
    #pokemon-list .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    #pokemon-list .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
