#navbar{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: calc(16px + .1rem);
}
#navbar .container{
    display: flex;
    justify-content: center;
}
#navbar .container p{
    font-size: calc(16px + .1rem);
    font-weight: 500;
    color: var(--white);
}
