@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    --normal: #B3966C;
    --fighting: #FE6565;
    --flying: #838BC9;
    --poison: #B3659F;
    --ground: #E7B467;
    --rock: #AAA063;
    --bug: #97AC3C;
    --ghost: #846D99;
    --steel: #8CB4BE;
    --fire: #FF7654;
    --water: #4FC8DB;
    --grass: #79C85B;
    --electric: #FFC809;
    --psychic: #FA678B;
    --ice: #6EDBD2;
    --dragon: #5A63AD;
    --ice: #5A504F;
    --fairy: #FF78AA;

    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

    transition: all ease-in-out .3s;
}
.App{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.list{
    display: grid;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(.8rem + .1rem);
    padding-top: calc(1.6rem + .6rem);
}
.pokemon-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: calc(16px + .2rem);
    padding: 1rem 2rem;
    transition: all ease-in-out .3s;
    background-image: url("images/pokeball-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pokemon-card:hover{
    box-shadow: 4px 2px 16px rgba(19, 60, 172, 0.63);
}
.pokemon-card h4{
    color: #fff;
    text-transform: capitalize;
    font-size: calc(28px + .1rem);
}
.pokemon-card h5{
    color: #333;
    opacity: .3;
    text-transform: capitalize;
    font-size: calc(22px + .1rem);
    text-align: end;
}
.pokemon-card img{
    justify-self: end;
    height: calc(128px + .1rem);
}
.pokemon-card .type{
    background-color: rgba(255,255,255,.3);
    border-radius: 100rem;
    padding: 4px 16px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    margin:auto auto 0 0; 
    font-size: calc(14px + .1rem);
}


.loading{
    grid-column: span 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.loading > img{
    animation: rotation ease-in-out infinite 1.6s;
}
.loading h1{
    text-align: center;
}


@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#landing{
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    background: var(--fighting) url("./images/pokeball-bg.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 0 0 1rem 1rem;
    color: #fff;
}
#landing main{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 2rem;
    padding-bottom: calc(4rem + .1rem);
}
#landing main input{
    border: none;
    border-radius: calc(32px + 1rem);
    padding: calc(1rem + .2rem) calc(2rem + .2rem);
    outline: none;
}